body {
margin: 0;
line-height: normal;
}

.desktop {
    width: 100%;
    height: 1166px;
    display: flex;
    flex-direction: column;
    background-color: #131313;
    overflow: hidden;
}

.desktop .nav {
    margin-left: -26px;
    margin-right: -27px;
    flex: 1;
    max-height: 124px;
    position: relative;
    background-color: #000000;
    border-radius: 20px;
}

.desktop .rewind-code-film {
    position: absolute;
    width: 21.24%;
    height: 21.77%;
    top: 36.29%;
    left: 3.75%;
    display: flex;
}

.desktop .text-wrapper {
    flex: 1;
    width: 487px;
    font-family: "Baloo Thambi-Regular", Helvetica;
    font-weight: 400;
    color: #e50914;
    font-size: 64px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.desktop .btn-unirme {
    position: absolute;
    height: 28.23%;
    top: 36.29%;
    right: 223px;
    width: 178px;
}

.desktop .rectangle {
    right: 2px;
    width: 176px;
    background-color: #e21a23;
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: 2px;
}

.desktop .div {
    position: absolute;
    height: 77.14%;
    top: 11.43%;
    right: 32px;
    font-family: "Sofia Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.desktop .text-wrapper-2 {
    position: absolute;
    top: 49px;
    right: 459px;
    width: 194px;
    font-family: "Sofia Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.desktop .btn-iniciar-sesion {
    position: absolute;
    width: 6.11%;
    height: 28.23%;
    top: 36.29%;
    left: 90.97%;
}

.desktop .rectangle-2 {
    width: 98.57%;
    left: 0;
    background-color: #000000;
    border: 1px solid;
    border-color: #ffffff;
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: 2px;
}

.desktop .text-wrapper-3 {
    position: absolute;
    top: 4px;
    right: 15px;
    font-family: "Sofia Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.desktop .conten-div {
    margin-left: 100px;
    width: 781px;
    height: 131px;
    position: relative;
    margin-top: 45px;
}

.desktop .text-wrapper-4 {
    position: absolute;
    width: 100%;
    height: 46.56%;
    top: 0;
    left: 0;
    font-family: "Baloo Thambi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: 27px;
}

.desktop .p {
    position: absolute;
    width: 115%;
    height: 59.54%;
    top: 40.46%;
    left: 0;
    font-family: "Sofia Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 27px;
}

.desktop .vtp-peliculas {
    margin-left: 99px;
    width: 1858px;
    height: 214px;
    position: relative;
}

.desktop .vista-previa {
    width: 16.20%;
    height: 79.44%;
    top: 20.56%;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.desktop .img {
    width: 16.20%;
    height: 79.44%;
    top: 20.56%;
    left: 16.85%;
    position: absolute;
    object-fit: cover;
}

.desktop .vista-previa-2 {
    width: 16.20%;
    height: 79.44%;
    top: 20.56%;
    left: 33.64%;
    position: absolute;
    object-fit: cover;
}

.desktop .vista-previa-3 {
    width: 16.20%;
    height: 79.44%;
    top: 20.56%;
    left: 50.32%;
    position: absolute;
    object-fit: cover;
}

.desktop .vista-previa-4 {
    width: 16.20%;
    height: 79.44%;
    top: 20.56%;
    left: 67.17%;
    position: absolute;
    object-fit: cover;
}

.desktop .vista-previa-5 {
    width: 16.20%;
    height: 79.44%;
    top: 20.56%;
    left: 83.80%;
    position: absolute;
    object-fit: cover;
}

.desktop .text-wrapper-5 {
    position: absolute;
    width: 14.91%;
    height: 16.36%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Sofia Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 27px;
}

.desktop .vtp-series {
    margin-left: 99px;
    width: 1858px;
    height: 214px;
    position: relative;
    margin-top: 45px;
}

.desktop .vtp-peliculas {
    margin-left: 99px;
    width: 1858px;
    height: 214px;
    position: relative;
}

.desktop .vista-previa-6 {
    width: 16.20%;
    height: 78.70%;
    top: 21.30%;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.desktop .vista-previa-7 {
    width: 16.20%;
    height: 78.70%;
    top: 21.30%;
    left: 16.85%;
    position: absolute;
    object-fit: cover;
}

.desktop .vista-previa-8 {
    width: 16.20%;
    height: 78.70%;
    top: 21.30%;
    left: 33.64%;
    position: absolute;
    object-fit: cover;
}

.desktop .vista-previa-9 {
    width: 16.20%;
    height: 78.70%;
    top: 21.30%;
    left: 50.32%;
    position: absolute;
    object-fit: cover;
}

.desktop .vista-previa-10 {
    width: 16.20%;
    height: 78.70%;
    top: 21.30%;
    left: 67.17%;
    position: absolute;
    object-fit: cover;
}

.desktop .vista-previa-11 {
    width: 16.20%;
    height: 78.70%;
    top: 21.30%;
    left: 83.80%;
    position: absolute;
    object-fit: cover;
}

.desktop .text-wrapper-6 {
    position: absolute;
    width: 11.46%;
    height: 17.13%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Sofia Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 27px;
}

.desktop .vtp-accion-imgs {
    margin-left: 102px;
    width: 1859px;
    height: 204px;
    position: relative;
    margin-top: 32px;
}

.desktop .vista-previa-12 {
    width: 16.19%;
    height: 83.33%;
    top: 16.67%;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.desktop .vista-previa-13 {
    width: 16.19%;
    height: 83.33%;
    top: 16.67%;
    left: 16.84%;
    position: absolute;
    object-fit: cover;
}

.desktop .vista-previa-14 {
    width: 16.19%;
    height: 83.33%;
    top: 16.67%;
    left: 33.62%;
    position: absolute;
    object-fit: cover;
}

.desktop .vista-previa-15 {
    width: 16.19%;
    height: 83.33%;
    top: 16.67%;
    left: 50.30%;
    position: absolute;
    object-fit: cover;
}

.desktop .vista-previa-16 {
    width: 16.19%;
    height: 83.33%;
    top: 16.67%;
    left: 67.13%;
    position: absolute;
    object-fit: cover;
}

.desktop .vista-previa-17 {
    width: 16.19%;
    height: 83.33%;
    top: 16.67%;
    left: 83.81%;
    position: absolute;
    object-fit: cover;
}

.desktop .text-wrapper-7 {
    position: absolute;
    width: 11.46%;
    height: 18.14%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Sofia Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 27px;
}
