
body {
  	margin: 0;
  	line-height: normal;
}

.editar-pelicula {
  	width: 100%;
  	height: 1359px;
  	position: relative;
  	text-align: left;
  	font-size: 18px;
  	color: #fff;
  	font-family: Arimo;
}
.fondo-negro-div {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	background-color: rgba(0, 0, 0, 0.5);
}
.editar-pelicula-child {
  	position: absolute;
  	height: 43.71%;
  	width: 26.91%;
  	top: 22.44%;
  	right: 36.52%;
  	bottom: 33.85%;
  	left: 36.57%;
  	border-radius: 21px;
  	background-color: rgba(17, 17, 17, 0.75);
}
.dialogheader {
  	position: absolute;
  	height: 4.59%;
  	width: 21.45%;
  	top: 28.56%;
  	right: 39.24%;
  	bottom: 66.85%;
  	left: 39.3%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 12px;
}
.primitiveh2 {
  	width: 462.3px;
  	height: 18px;
  	position: relative;
}
.editar-pelcula {
  	position: absolute;
  	top: -1.36px;
  	left: 0px;
  	line-height: 18px;
}
.icon {
  	position: absolute;
  	height: calc(100% - 2px);
  	top: 0px;
  	right: 0.3px;
  	bottom: 2px;
  	max-height: 100%;
  	width: 16px;
}
.moviedialog {
  	width: 462.3px;
  	height: 20px;
  	position: relative;
  	font-size: 14px;
  	color: #99a1af;
}
.complete-los-detalles {
  	position: absolute;
  	top: -1.99px;
  	left: 0px;
  	line-height: 20px;
  	display: inline-block;
  	width: 373px;
}
.editar-pelicula-moviedialog {
  	position: absolute;
  	height: 35.07%;
  	width: 21.45%;
  	top: 34.62%;
  	right: 39.24%;
  	bottom: 30.31%;
  	left: 39.3%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 14px;
  	color: #d1d5dc;
}
.container {
  	align-self: stretch;
  	height: 345.9px;
  	position: relative;
}
.editar-pelicula-container {
  	position: absolute;
  	top: 15.99px;
  	left: 0px;
  	width: 462.3px;
  	height: 50px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.primitivelabel {
  	align-self: stretch;
  	height: 14px;
  	display: flex;
  	align-items: center;
}
.ttulo {
  	position: relative;
  	line-height: 14px;
}
.input {
  	align-self: stretch;
  	height: 36px;
  	border-radius: 8px;
  	background-color: #2f2f2f;
  	border: 0.8px solid #2f2f2f;
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	padding: 4px 12px;
  	color: #717182;
}
.interestelar {
  	position: relative;
}
.container2 {
  	position: absolute;
  	top: 81.97px;
  	left: 0px;
  	width: 462.3px;
  	height: 50px;
}
.container3 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 225.2px;
  	height: 50px;
}
.editar-pelicula-primitivelabel {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 225.2px;
  	height: 14px;
  	display: flex;
  	align-items: center;
}
.editar-pelicula-input {
  	position: absolute;
  	top: 14px;
  	left: 0px;
  	border-radius: 8px;
  	background-color: #2f2f2f;
  	border: 0.8px solid #2f2f2f;
  	box-sizing: border-box;
  	width: 225.2px;
  	height: 36px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	padding: 4px 12px;
  	color: #717182;
}
.container4 {
  	position: absolute;
  	top: 0px;
  	left: 237.16px;
  	width: 225.2px;
  	height: 50px;
}
.container5 {
  	position: absolute;
  	top: 147.95px;
  	left: 0px;
  	width: 462.3px;
  	height: 50px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.primitivebutton {
  	align-self: stretch;
  	height: 36px;
  	border-radius: 8px;
  	background-color: #2f2f2f;
  	border: 0.8px solid #2f2f2f;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 0px 12px;
  	gap: 20px;
  	color: #fff;
}
.primitivespan {
  	height: 20px;
  	width: 90.8px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
}
.ciencia-ficcin {
  	position: relative;
  	line-height: 20px;
}
.editar-pelicula-icon {
  	height: 16px;
  	width: 16px;
  	position: relative;
  	opacity: 0.5;
}
.container6 {
  	position: absolute;
  	top: 213.93px;
  	left: 0px;
  	width: 462.3px;
  	height: 50px;
}
.primitivelabel4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 462.3px;
  	height: 14px;
  	display: flex;
  	align-items: center;
}
.input3 {
  	position: absolute;
  	top: 14px;
  	left: 0px;
  	border-radius: 8px;
  	background-color: #2f2f2f;
  	border: 0.8px solid #2f2f2f;
  	box-sizing: border-box;
  	width: 462.3px;
  	height: 36px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	padding: 4px 12px;
  	color: #717182;
}
.container7 {
  	position: absolute;
  	top: 279.91px;
  	left: 0px;
  	width: 462.3px;
  	height: 50px;
}
.httpsimagesunsplashcomph {
  	position: relative;
  	flex-shrink: 0;
}
.dialogfooter {
  	align-self: stretch;
  	height: 36px;
  	display: flex;
  	align-items: flex-start;
  	justify-content: flex-end;
  	gap: 8px;
  	color: #fff;
}
.button {
  	height: 36px;
  	width: 88px;
  	border-radius: 8px;
  	background-color: #2f2f2f;
  	border: 0.8px solid #2f2f2f;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 16px;
}
.editar-pelicula-button {
  	height: 36px;
  	width: 142px;
  	border-radius: 8px;
  	background-color: #e50914;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 16px;
  	box-sizing: border-box;
}

