@import url("config.css");
body {
    margin: 0;
    line-height: normal;
}

.editar-pelicula {
    width: 100%;
    height: 1359px;
    position: relative;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-texto-principal);
    font-family: var(--font-family-interfaz);
}

.fondo-negro-div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: var(--color-transparencia-1);
}

.editar-pelicula-child {
    position: absolute;
    height: 43.71%;
    width: 26.91%;
    top: 22.44%;
    right: 36.52%;
    bottom: 33.85%;
    left: 36.57%;
    border-radius: var(--border-radius-xl);
    background-color: var(--color-transparencia-2);
}

.dialogheader {
    position: absolute;
    height: 4.59%;
    width: 21.45%;
    top: 28.56%;
    right: 39.24%;
    bottom: 66.85%;
    left: 39.3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.moviedialog {
    width: 462.3px;
    height: 20px;
    position: relative;
    font-size: var(--font-size-xs);
    color: var(--color-texto-secundario);
}

.editar-pelicula-moviedialog {
    position: absolute;
    height: 35.07%;
    width: 21.45%;
    top: 34.62%;
    right: 39.24%;
    bottom: 30.31%;
    left: 39.3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--font-size-xs);
    color: #d1d5dc;
}


.input,
.editar-pelicula-input,
.primitivebutton,
.input3 {

    background-color: var(--color-caja-gris-oscuro);
    border: 0.8px solid var(--color-caja-gris-oscuro);
    border-radius: var(--border-radius-base);

}

.input,
.editar-pelicula-input,
.input3 {
    align-self: stretch;
    height: 36px;
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 4px 12px;

    color: var(--color-input-texto);
}


.dialogfooter {
    align-self: stretch;
    height: 36px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px;
    color: var(--color-texto-principal);
}

.button {
    height: 36px;
    width: 88px;
    border-radius: var(--border-radius-base);
    background-color: var(--color-caja-gris-oscuro);
    border: 0.8px solid var(--color-caja-gris-oscuro);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
}

.editar-pelicula-button {
    height: 36px;
    width: 142px;
    background-color: var(--color-accent-rojo);
    border-radius: var(--border-radius-base);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    box-sizing: border-box;
}