
.episodios2 {
    position: absolute;
    top: 1835px;
    left: calc(50% - 783px);
    width: 1567px;
    height: 419px;
}

.episodios3 {
    position: absolute;
    top: 3px;
    left: 4px;
    font-size: 40px;
    line-height: 101px;
    display: flex;
    font-weight: 800;
    align-items: center;
    width: 198.8px;
    height: 34px;
    margin: 0;
}

.btn-elegir-temp {
    position: absolute;
    height: 9.55%;
    width: 13.33%;
    top: 0;
    right: 74.22%;
    bottom: 90.45%;
    left: 12.44%;
}

.btn-elegir-temp-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 21px;
    background-color: rgba(23, 26, 27, 0.86);
    border: 1px solid #fff;
    box-sizing: border-box;
}

.nombre-de-serie {
    position: absolute;
    height: 57.5%;
    width: 87.22%;
    top: 22.5%;
    left: 5.56%;
    line-height: 101px;
    display: flex;
    font-weight: 800;
    align-items: center;
}

.episode-card {
    position: absolute;
    height: 87.83%;
    top: 12.17%;
    bottom: 0;
    width: 329px;
}

.episode-card.episode-1-pos { left: 2px; }
.episode-card.episode-2-pos { left: 413px; }
.episode-card.episode-3-pos { left: 823px; }
.episode-card.episode-4-pos { left: 1231px; }

.episode-card-bg {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 19px;
    background-color: rgba(47, 48, 48, 0.76);
    width: 329px;
}

.episode-image-thumb {
    position: absolute;
    height: 46.74%;
    top: 2.99%;
    bottom: 50.27%;
    left: 11px;
    border-radius: 18px;
    max-height: 100%;
    width: 308px;
    object-fit: cover;
}

.info-capitulo {
    position: absolute;
    height: 38.86%;
    top: 54.35%;
    bottom: 6.79%;
    left: 21px;
    width: 295px;
}


.descripsion-del-capitulo {
    position: absolute;
    height: 63.64%;
    top: 36.36%;
    letter-spacing: -1px;
    line-height: 20px;
    display: flex;
    font-weight: 800;
    align-items: center;
    width: 281px;
    left: 0;
    margin: 0;
}
.episode-title-text {
    position: absolute;
    height: 39.16%;
    top: 0;
    left: 0;
    letter-spacing: -1px;
    line-height: 24px;
    display: flex;
    font-weight: 800;
    align-items: center;
    width: 295px;
    margin: 0;
}
