.containernav {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 20px;
}

.top-navigation {
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-surface);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.main-nav {
    display: flex;
    gap: 30px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.notification-btn {
    background: none;
    border: none;
    position: relative;
    /* CORREGIDO */
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
}


.notification-btn:hover {
    background-color: var(--bg-surface-hover);
}


.notification-btn img {
    filter: invert(0.9);
}

.avatar-circle {
    width: 32px;
    height: 32px;
    background-color: var(--bg-surface-hover);
    color: var(--text-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid var(--border-color);
}

.badge {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: var(--accent-red);
    color: white;
    font-size: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    color: rgb(157, 157, 157);
    font-size: 14px;
    transition: all 0.2s ease;
    font-size: 16px;
}

.nav-link.active,
.nav-link:hover {
    color: var(--text-primary);
    font-weight: 500;
}


.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand-name {
    font-weight: 700;
    font-size: 16px;
    color: var(--text-primary);
}

a,
a:-webkit-any-link {
    text-decoration: none;
    color: rgba(141, 138, 138, 0.918);
    font-size: 16px;
    cursor: pointer;
}
