body {
margin: 0;
line-height: normal;
}


.home-registrar-iniciar {
  	width: 100%;
  	height: 3452px;
  	position: relative;
  	background-color: #131313;
  	overflow: hidden;
  	text-align: left;
  	font-size: 30px;
  	color: #fff;
  	font-family: 'Baloo Thambi';
}
.co-es-20251027-trifecta-perspe-icon {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 983.5px);
  	width: 1969px;
  	height: 896px;
  	object-fit: cover;
}
.home {
  	position: absolute;
  	top: 60px;
  	left: calc(50% - 793.5px);
  	width: 1587px;
  	height: 756px;
}
.rewindcodefilm {
  	position: absolute;
  	height: 3.57%;
  	width: 30.69%;
  	top: 2.12%;
  	right: 67.67%;
  	bottom: 94.31%;
  	left: 1.64%;
  	font-size: 64px;
  	color: #e50914;
}
.home-registrar-iniciar-rewindcodefilm {
  	position: absolute;
  	top: 0%;
  	left: 0%;
  	line-height: 27px;
}
.iniciar-sesion-btn {
  	position: absolute;
  	top: 16px;
  	right: 40px;
  	width: 272px;
  	height: 52px;
  	text-align: center;
  	color: #ebebeb;
}
.iniciar-sesion-btn-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 20px;
  	background-color: #e50914;
}
.iniciar-sesion {
  	position: absolute;
  	height: 22.31%;
  	width: 68.53%;
  	top: 38.02%;
  	left: 15.65%;
  	line-height: 27px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.text-de-mnu-home {
  	position: absolute;
  	height: 52.25%;
  	top: 24.34%;
  	bottom: 23.41%;
  	left: calc(50% - 749.5px);
  	width: 1499px;
  	text-align: center;
  	font-size: 70px;
}
.text {
  	position: absolute;
  	width: 65.22%;
  	top: -3px;
  	right: 17.43%;
  	left: 17.34%;
  	height: 304.7px;
}
.el-nico-lugar {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	left: 0%;
  	line-height: 105px;
  	display: inline-block;
  	height: 201.3px;
}
.quieres-ver-pelculas {
  	position: absolute;
  	height: 33.05%;
  	width: 76.76%;
  	top: 66.95%;
  	left: 11.66%;
  	font-size: 36px;
  	line-height: 105px;
  	text-align: left;
  	display: inline-block;
}
.accede-al-catlogo {
  	position: absolute;
  	width: 100%;
  	bottom: 22px;
  	left: 0px;
  	font-size: 36px;
  	line-height: 105px;
  	text-align: left;
  	display: inline-block;
  	height: 93px;
}
.comenzatbtn {
  	position: absolute;
  	right: 44px;
  	bottom: 25px;
  	width: 192px;
  	height: 85px;
}
.comenzatbtn-child {
  	position: absolute;
  	height: calc(100% - 2px);
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	bottom: 2px;
  	left: 0px;
  	border-radius: 26px;
  	background-color: #ff0000;
}
.comenzar {
  	position: absolute;
  	height: calc(100% - 43px);
  	width: calc(100% - 47px);
  	top: 29px;
  	left: 24px;
  	line-height: 27px;
  	display: inline-block;
}
.box-email {
  	position: absolute;
  	width: 59.04%;
  	right: 20.48%;
  	bottom: 25px;
  	left: 20.48%;
  	height: 85px;
  	font-size: 40px;
}
.caja-email {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	border: 1px solid #fff;
  	box-sizing: border-box;
  	width: 937px;
}
.email {
  	position: absolute;
  	height: calc(100% - 15px);
  	top: 7px;
  	left: 23.14px;
  	line-height: 105px;
  	display: flex;
  	align-items: center;
  	width: 111px;
}
.las-mas-pedidas {
  	position: absolute;
  	top: 1562px;
  	left: calc(50% - 795.5px);
  	width: 1499px;
  	height: 475px;
  	text-align: center;
  	font-size: 150px;
  	font-family: 'Source Serif Pro';
}
.home-registrar-iniciar-las-mas-pedidas {
  	position: absolute;
  	height: 20%;
  	width: 40.36%;
  	top: 0%;
  	left: 0%;
  	font-size: 70px;
  	line-height: 105px;
  	font-family: 'Baloo Thambi';
  	display: inline-block;
}
.las-mas-pedidas-child {
  	position: absolute;
  	height: 74.11%;
  	width: 15.61%;
  	top: 25.89%;
  	right: 77.65%;
  	bottom: 0%;
  	left: 6.74%;
  	border-radius: 27px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.las-mas-pedidas-item {
  	position: absolute;
  	height: 74.11%;
  	width: 15.61%;
  	top: 25.89%;
  	right: 58.24%;
  	bottom: 0%;
  	left: 26.15%;
  	border-radius: 27px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.las-mas-pedidas-inner {
  	position: absolute;
  	height: 74.11%;
  	width: 15.61%;
  	top: 25.89%;
  	right: 38.83%;
  	bottom: 0%;
  	left: 45.56%;
  	border-radius: 27px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.rectangle-icon {
  	position: absolute;
  	height: 74.11%;
  	width: 15.61%;
  	top: 25.89%;
  	right: 19.41%;
  	bottom: 0%;
  	left: 64.98%;
  	border-radius: 27px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.home-registrar-iniciar-las-mas-pedidas-child {
  	position: absolute;
  	height: 74.11%;
  	width: 15.61%;
  	top: 25.89%;
  	right: 0%;
  	bottom: 0%;
  	left: 84.39%;
  	border-radius: 27px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.div {
  	position: absolute;
  	height: 19.58%;
  	width: 8.14%;
  	top: 67.37%;
  	left: 2.67%;
  	line-height: 105px;
  	font-family: 'Sofia Sans';
  	display: inline-block;
}
.home-registrar-iniciar-div {
  	position: absolute;
  	height: 19.58%;
  	width: 8.14%;
  	top: 67.79%;
  	left: 22.08%;
  	line-height: 105px;
  	display: inline-block;
}
.div2 {
  	position: absolute;
  	height: 19.58%;
  	width: 8.14%;
  	top: 67.79%;
  	left: 42.43%;
  	line-height: 105px;
  	display: inline-block;
}
.div3 {
  	position: absolute;
  	height: 19.58%;
  	width: 8.14%;
  	top: 68.21%;
  	left: 60.91%;
  	line-height: 105px;
  	display: inline-block;
}
.div4 {
  	position: absolute;
  	height: 19.58%;
  	width: 8.14%;
  	top: 68.63%;
  	left: 80.32%;
  	line-height: 105px;
  	display: inline-block;
}
.faq {
  	position: absolute;
  	top: 2129px;
  	left: calc(50% - 798.5px);
  	width: 1506px;
  	height: 1195px;
  	font-size: 42px;
  	font-family: 'Baloo Tammudu 2';
}
.despegable-1 {
  	position: absolute;
  	top: 0px;
  	left: 23px;
  	width: 1474px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 21px;
}
.desplegable-titulo-1 {
  	align-self: stretch;
  	height: 81px;
  	position: relative;
  	background-color: #5b5b5b;
  	overflow: hidden;
  	flex-shrink: 0;
}
.que-es-rewindcodefilm {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 105px;
  	font-weight: 500;
}
.despleglable-text-1 {
  	align-self: stretch;
  	height: 187px;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
  	font-size: 24px;
  	font-family: 'Baloo Tamma 2';
}
.rewindcodefilm-es-un-videoclub-wrapper {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #5b5b5b;
  	width: 1474px;
  	height: 186px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	padding: 21px 26px;
  	box-sizing: border-box;
}
.rewindcodefilm-es-un {
  	width: 1421px;
  	position: relative;
  	line-height: 45px;
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.despegable-2 {
  	position: absolute;
  	top: 302px;
  	left: 23px;
  	width: 1474px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 21px;
}
.despegable-3 {
  	position: absolute;
  	top: 604px;
  	left: 23px;
  	width: 1474px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 21px;
}
.despegable-4 {
  	position: absolute;
  	top: 906px;
  	left: 23px;
  	width: 1474px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 21px;
}
.form-registrar {
  	position: absolute;
  	top: 923px;
  	left: calc(50% - 619.5px);
  	width: 1147px;
  	height: 611.7px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 48px;
  	text-align: center;
  	font-size: 40px;
  	font-family: Arimo;
}
.container {
  	align-self: stretch;
  	height: 72px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.heading-2 {
  	align-self: stretch;
  	height: 40px;
  	position: relative;
}
.crear-una-cuenta {
  	position: absolute;
  	top: -3.2px;
  	left: 345.01px;
  	line-height: 40px;
}
.paragraph {
  	align-self: stretch;
  	height: 24px;
  	position: relative;
  	font-size: 20px;
  	color: rgba(255, 255, 255, 0.6);
}
.nete-a-rewindcodefilm {
  	position: absolute;
  	top: -2.16px;
  	left: 201.54px;
  	line-height: 24px;
}
.form {
  	width: 1147.2px;
  	height: 435.9px;
  	position: relative;
  	text-align: left;
  	font-size: 20px;
  	color: rgba(255, 255, 255, 0.9);
  	font-family: 'Sofia Sans';
}
.home-registrar-iniciar-container {
  	position: absolute;
  	width: calc(100% - 33.3px);
  	top: 0px;
  	right: 33.3px;
  	left: 0px;
  	height: 327.7px;
  	font-size: 32px;
}
.container2 {
  	position: absolute;
  	top: 0px;
  	left: 15px;
  	width: 490px;
  	height: 84px;
  	font-family: Arimo;
}
.primitivelabel {
  	position: absolute;
  	top: 0px;
  	left: 8px;
  	width: 482px;
  	height: 20px;
  	display: flex;
  	align-items: center;
}
.direccin {
  	position: relative;
  	line-height: 20px;
}
.text-input {
  	position: absolute;
  	top: 27.98px;
  	left: 0px;
  	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  	border-radius: 16px;
  	background-color: rgba(255, 255, 255, 0.1);
  	border: 0.8px solid rgba(255, 255, 255, 0.2);
  	box-sizing: border-box;
  	width: 490px;
  	height: 56px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	padding: 0px 16px;
  	font-size: 18px;
  	color: rgba(255, 255, 255, 0.4);
}
.ingresa-tu-direccin {
  	position: relative;
}
.container3 {
  	position: absolute;
  	top: 5.84px;
  	right: 14.98px;
  	width: 490px;
  	height: 83.7px;
}
.home-registrar-iniciar-text-input {
  	position: absolute;
  	top: 27.98px;
  	left: 0px;
  	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  	border-radius: 16px;
  	background-color: rgba(255, 255, 255, 0.1);
  	border: 0.8px solid rgba(255, 255, 255, 0.2);
  	box-sizing: border-box;
  	width: 490px;
  	height: 56px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	padding: 0px 16px;
  	font-size: 18px;
  	color: rgba(255, 255, 255, 0.4);
  	font-family: Arimo;
}
.container4 {
  	position: absolute;
  	top: 103.97px;
  	left: 15px;
  	width: 490px;
  	height: 84px;
}
.container5 {
  	position: absolute;
  	top: 106.84px;
  	left: calc(50% + 56.01px);
  	width: 490px;
  	height: 84px;
}
.container6 {
  	position: absolute;
  	top: 207.93px;
  	left: 15px;
  	width: 490px;
  	height: 84px;
}
.container7 {
  	position: absolute;
  	right: 14.98px;
  	bottom: 35.84px;
  	width: 490px;
  	height: 84px;
}
.button {
  	position: absolute;
  	bottom: 52px;
  	left: 396.94px;
  	box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
  	border-radius: 16px;
  	background: linear-gradient(180deg, #e50914, #c20812);
  	border: 0.8px solid rgba(255, 255, 255, 0.1);
  	box-sizing: border-box;
  	width: 300px;
  	height: 56px;
  	text-align: center;
  	color: #fff;
}
.registrarse {
  	position: absolute;
  	top: 18px;
  	left: 99.94px;
  	line-height: 20px;
  	font-weight: 700;
}
.home-registrar-iniciar-button {
  	position: absolute;
  	top: 415.23px;
  	left: 454px;
  	width: 92px;
  	height: 20px;
  	display: flex;
  	align-items: flex-start;
  	color: rgba(255, 255, 255, 0.8);
  	font-family: Arimo;
}
.obtener-ayuda {
  	position: relative;
  	line-height: 20px;
  	flex-shrink: 0;
}

