@import url("config.css");

body {
    margin: 0;
    line-height: normal;
    font-family: var(--font-family-titulo);
}

.cofondocompleto {
    position: absolute;
    top: 0px;
    left: calc(50% - 983.5px);
    width: 1969px;
    height: 896px;
    object-fit: cover;
}

.home-registrar-iniciar {
    width: 100%;
    height: 3452px;
    position: relative;
    background-color: var(--color-bg-secundario);
    overflow: hidden;
    text-align: left;
    font-size: 30px;
    color: var(--color-texto-principal);
    font-family: var(--font-family-titulo);
}

.home {
    position: absolute;
    top: 60px;
    left: calc(50% - 793.5px);
    width: 1587px;
    height: 756px;
}

.rewindcodefilm {
    position: absolute;
    height: 3.57%;
    width: 30.69%;
    top: 2.12%;
    right: 67.67%;
    bottom: 94.31%;
    left: 1.64%;
    font-size: var(--font-size-xl);
    color: var(--color-accent-rojo);
}

.home-registrar-iniciar-rewindcodefilm {
    position: absolute;
    top: 0%;
    left: 0%;
    line-height: 27px;
}

.boton-fondo {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 20px;
}

.iniciar-sesion-fondo {
    background-color: var(--color-accent-rojo);
}

.iniciar-sesion-btn {
    position: absolute;
    top: 16px;
    right: 40px;
    width: 272px;
    height: 52px;
    text-align: center;
    color: #ebebeb;
}

.iniciar-sesion {
    position: absolute;
    height: 22.31%;
    width: 68.53%;
    top: 38.02%;
    left: 15.65%;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-de-mnu-home {
    position: absolute;
    height: 52.25%;
    top: 24.34%;
    bottom: 23.41%;
    left: calc(50% - 749.5px);
    width: 1499px;
    text-align: center;
    font-size: 70px;
}

.text {
    position: absolute;
    width: 65.22%;
    top: -3px;
    right: 17.43%;
    left: 17.34%;
    height: 304.7px;
}

.texto-linea-grande {
    position: absolute;
    width: 100%;
    left: 0%;
    line-height: 105px;
    text-align: left;
    display: inline-block;
}

.el-nico-lugar {
    top: 0px;
    height: 201.3px;
}

.accede-al-catlogo {
    bottom: 22px;
    height: 93px;
    font-size: 36px;
}

.quieres-ver-pelculas {
    position: absolute;
    height: 33.05%;
    width: 76.76%;
    top: 66.95%;
    left: 11.66%;
    font-size: 36px;
    line-height: 105px;
    text-align: left;
    display: inline-block;
}

.comenzatbtn {
    position: absolute;
    right: 44px;
    bottom: 25px;
    width: 192px;
    height: 85px;
}

.comenzatbtn-fondo {
    background-color: var(--color-accent-rojo);
    height: calc(100% - 2px);
    bottom: 2px;
    border-radius: 26px;
}

.comenzar {
    position: absolute;
    height: calc(100% - 43px);
    width: calc(100% - 47px);
    top: 29px;
    left: 24px;
    line-height: 27px;
    display: inline-block;
}

.box-email {
    position: absolute;
    width: 59.04%;
    right: 20.48%;
    bottom: 25px;
    left: 20.48%;
    height: 85px;
    font-size: 40px;
}

.caja-email {
    position: absolute;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    border: 1px solid var(--color-texto-principal);
    box-sizing: border-box;
    width: 937px;
}

.email {
    position: absolute;
    height: calc(100% - 15px);
    top: 7px;
    left: 23.14px;
    line-height: 105px;
    display: flex;
    align-items: center;
    width: 111px;
}

.las-mas-pedidas {
    position: absolute;
    top: 1562px;
    left: calc(50% - 795.5px);
    width: 1499px;
    height: 475px;
    text-align: center;
    font-size: 150px;
    font-family: 'Source Serif Pro';
}

.home-registrar-iniciar-las-mas-pedidas {
    position: absolute;
    height: 20%;
    width: 40.36%;
    top: 0%;
    left: 0%;
    font-size: 70px;
    line-height: 105px;
    display: inline-block;
}

.imgIni {
    position: absolute;
    top: 25.89%;
    height: 74.11%;
    width: 15.61%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    bottom: 0%;
    border-radius: 27px;
}

.tronaresimg {
    right: 77.65%;
    left: 6.74%;
}

.john4wickimg {
    right: 58.24%;
    left: 26.15%;
}

.culpaNuestraimg {
    right: 38.83%;
    left: 45.56%;
}

.blackphoneimg {
    right: 19.41%;
    left: 64.98%;
}

.missionImposible {
    right: 0%;
    left: 84.39%;
}

.numero-pelicula {
    position: absolute;
    height: 19.58%;
    width: 8.14%;
    line-height: 105px;
    display: inline-block;
    font-family: var(--font-family-cuerpo);
}

.div {
    top: 67.37%;
    left: 2.67%;
}

.home-registrar-iniciar-div {
    top: 67.79%;
    left: 22.08%;
}

.div2 {
    top: 67.79%;
    left: 42.43%;
}

.div3 {
    top: 68.21%;
    left: 60.91%;
}

.div4 {
    top: 68.63%;
    left: 80.32%;
}

.faq {
    position: absolute;
    top: 2129px;
    left: calc(50% - 798.5px);
    width: 1506px;
    height: 1195px;
    font-size: 42px;
    font-family: 'Baloo Tammudu 2';
}

.desplegable-base {
    position: absolute;
    left: 23px;
    width: 1474px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
}

.despegable-1 {
    top: 0px;
}

.despegable-2 {
    top: 302px;
}

.despegable-3 {
    top: 604px;
}

.despegable-4 {
    top: 906px;
}

.desplegable-titulo-1 {
    align-self: stretch;
    height: 81px;
    position: relative;
    background-color: #5b5b5b;
    overflow: hidden;
    flex-shrink: 0;
}

.que-es-rewindcodefilm {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 105px;
    font-weight: 500;
}

.despleglable-text-1 {
    align-self: stretch;
    height: 187px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    font-size: var(--font-size-md);
    font-family: 'Baloo Tamma 2';
}

.desplegable-contenido {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #5b5b5b;
    width: 1474px;
    height: 186px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    padding: 21px 26px;
    box-sizing: border-box;
}

.rewindcodefilm-es-un {
    width: 1421px;
    position: relative;
    line-height: 45px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.form-registrar {
    position: absolute;
    top: 923px;
    left: calc(50% - 619.5px);
    width: 1147px;
    height: 611.7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    text-align: center;
    font-size: var(--font-size-lg);
    font-family: var(--font-family-interfaz);
}

.container {
    align-self: stretch;
    height: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.heading-2 {
    align-self: stretch;
    height: 40px;
    position: relative;
}

.crear-una-cuenta {
    position: absolute;
    top: -3.2px;
    left: 345.01px;
    line-height: 40px;
}

.paragraph {
    align-self: stretch;
    height: 24px;
    position: relative;
    font-size: var(--font-size-base);
    color: rgba(255, 255, 255, 0.6);
}

.nete-a-rewindcodefilm {
    position: absolute;
    top: -2.16px;
    left: 201.54px;
    line-height: 24px;
}

.form {
    width: 1147.2px;
    height: 435.9px;
    position: relative;
    text-align: left;
    font-size: var(--font-size-base);
    color: rgba(255, 255, 255, 0.9);
    font-family: var(--font-family-cuerpo);
}

.home-registrar-iniciar-container {
    position: absolute;
    width: calc(100% - 33.3px);
    top: 0px;
    right: 33.3px;
    left: 0px;
    height: 327.7px;
    font-size: 32px;
}

.input-campo-base {
    position: absolute;
    width: 490px;
    height: 84px;
    font-family: var(--font-family-interfaz);
}

.container2 {
    top: 0px;
    left: 15px;
}

.container3 {
    top: 5.84px;
    right: 14.98px;
    height: 83.7px;
}

.container4 {
    top: 103.97px;
    left: 15px;
}

.container5 {
    top: 106.84px;
    left: calc(50% + 56.01px);
}

.container6 {
    top: 207.93px;
    left: 15px;
}

.container7 {
    right: 14.98px;
    top: 206px;
    bottom: 35.84px;
}
.container8 {
        top: 310px;
    left: 15px;
}

.container9 {
    top: 310px;
    left: calc(50% + 56.01px);
}
.container10 {
    top: 410px;
    left: 15px;
}


.primitivelabel {
    position: absolute;
    top: 0px;
    left: 8px;
    width: 482px;
    height: 20px;
    display: flex;
    align-items: center;
}

.direccin {
    position: relative;
    line-height: 20px;
}

.home-registrar-iniciar-text-input {
    font-family: var(--font-family-interfaz);
}

.ingresa-tu-direccin {
    position: relative;

}

.ingresa-tu-direccin input{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    background-color: transparent;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;

}

.button {
    position: absolute;
    bottom: 52px;
    left: 614px;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    background: linear-gradient(180deg, var(--color-accent-rojo), #c20812);
    border: 0.8px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    width: 300px;
    height: 56px;
    top: 432px;
    text-align: center;
    color: var(--color-texto-principal);
}



.home-registrar-iniciar-button {
    position: absolute;
    top: 415.23px;
    left: 454px;
    width: 92px;
    height: 20px;
    display: flex;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.8);
    font-family: var(--font-family-interfaz);
}

.obtener-ayuda {
    position: relative;
    line-height: 20px;
    flex-shrink: 0;
}

.estilo-input-basico {
    left: 0px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px 16px;
    font-size: var(--font-size-sm);
    /* **AÑADIR para Select:** Asegura que el texto dentro del select sea blanco */
    color: var(--color-texto-principal) !important; 
    /* **AÑADIR para Select:** Forzar el fondo oscuro para el campo */
    background-color: var(--color-transparencia-3) !important; 
}

/* Regla específica para el SELECT */
select.estilo-input-basico {
    /* **AÑADIR:** Elimina la apariencia nativa para un mejor control de estilo */
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    /* **AÑADIR:** Necesario para algunos navegadores */
    background-image: none !important; 
}

/* Regla para las Opciones del Menú (Esto es CLAVE para cuando se despliega) */
select.estilo-input-basico option {
    /* **AÑADIR:** Fondo negro para las opciones (cuando se despliegan) */
    background-color: var(--color-bg-principal) !important; 
    /* **AÑADIR:** Texto blanco para las opciones (cuando se despliegan) */
    color: var(--color-texto-principal) !important; 
    /* **AÑADIR:** Para asegurar el contraste en el hover de las opciones */
    -webkit-text-fill-color: var(--color-texto-principal) !important; 
}