
.mas-info-div {
   
    position: absolute; 
    top: 1815px;
    width: 90%;
    max-width: 1600px;
    padding-top: 20px;
    font-size: 15px;
    margin-left: 7%;
    
}

.ms-info {
    font-size: 40px;
    font-weight: 800;
    margin: 0 0 20px 0;
    line-height: 1.2;
}


.info-container-flex {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-box {
   
    flex: 1 1 30%; 
    min-width: 300px;
    position: relative;
}

.div-audio-subtitulos-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 18px;
    background-color: rgba(61, 64, 65, 0.7);
    border: 1px solid #fff;
    box-sizing: border-box;
    z-index: 0;
}


div[class^="informacion"] {
    position: relative;
    padding: 20px 25px;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.audio,
.subtitulos,
.generos,
.esta-pelicualaseriees,
.tags-de-peliculas {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.audio strong,
.subtitulos strong,
.generos strong,
.esta-serie-es,
.elenco,
.Director {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 16px;
    color: #ffffff;
}


.ingls-audio,
.ingls-y-espaol,
.series-dramaticasseries-de,
.inquietantenostalgicobanda-s,
.elencoCompleto,
.DirectorCompleto {
    font-weight: 300;
    line-height: 1.4;
    color: #ccc;
}

.generos span, 
.esta-pelicualaseriees span, 
.tags-de-peliculas span {
   
    width: 100%;
}

.tags-de-peliculas {
    margin-bottom: 15px;
}

.elencoCompleto,
.DirectorCompleto {
   
    display: block;
}

@media (max-width: 1024px) {
    .info-container-flex {
        flex-direction: column;
        gap: 20px;
    }
    .info-box {
        flex: 1 1 100%;
        min-height: 150px;
    }
}