body {
margin: 0;
line-height: normal;
}
.page-pelicula-no-disponible {
  	width: 100%;
  	height: 2027px;
  	position: relative;
  	background-color: #292929;
  	overflow-y: hidden;
  	text-align: left;
  	font-size: 16px;
	overflow-x: hidden;
	
  	color: #fff;
  	font-family: 'Sofia Sans';
}
.netflix-movie-screen-design {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 1150.5px);
  	background-color: #fff;
  	width: 2302px;
  	height: 2086px;
}
.app {
  	position: absolute;
  	top: 0px;
  	left: -0.24px;
  	background-color: #141414;
  	width: 2303px;
  	height: 2086px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 101px;
}
.heroplayer {
  	align-self: stretch;
  	height: 918.4px;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
}
.container {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 2302.5px;
  	height: 918.4px;
}
.container-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 2302.5px;
  	height: 918.4px;
  	object-fit: cover;
}
.page-pelicula-no-disponible-container {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(0deg, #141414, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0));
  	width: 2302.5px;
  	height: 918.4px;
}
.container2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
  	width: 2302.5px;
  	height: 918.4px;
}
.container3 {
  	align-self: stretch;
  	height: 1067px;
  	position: relative;
}
.desktopmovieinfo {
  	position: absolute;
  	top: -61.38px;
  	left: 80px;
  	border-radius: 10px;
  	width: 2143px;
  	height: 202px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 32px 32px 0px;
  	box-sizing: border-box;
}
.info-pelicula {
  	width: 1506px;
  	height: 170px;
  	position: absolute;
  	margin: 0 !important;
  	top: calc(50% - 85px);
  	left: calc(50% - 752.5px);
  	z-index: 0;
}
.tags-de-peliculas {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
}
.contenedor-div {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 17px;
  	background-color: rgba(38, 39, 39, 0.83);
}
.i {
  	position: absolute;
  	height: 17.06%;
  	width: 3.05%;
  	top: 31.18%;
  	left: 1.46%;
  	line-height: 101px;
  	display: flex;
  	font-weight: 800;
  	white-space: pre-wrap;
  	align-items: center;
}
.name-peli {
  	position: absolute;
  	height: 20%;
  	width: 16.67%;
  	top: 7.65%;
  	left: 1.46%;
  	font-size: 40px;
  	line-height: 101px;
  	display: flex;
  	font-weight: 800;
  	align-items: center;
}
.page-no-i {
  	position: absolute;
  	height: 17.06%;
  	width: 2.66%;
  	top: 31.18%;
  	left: 12.08%;
  	line-height: 101px;
  	display: flex;
  	font-weight: 800;
  	text-align: center;
  	align-items: center;
  	justify-content: center;
}
.sci-fi {
  	position: absolute;
  	height: 17.06%;
  	width: 2.66%;
  	top: 31.18%;
  	left: 15.47%;
  	line-height: 101px;
  	display: flex;
  	font-weight: 800;
  	text-align: center;
  	align-items: center;
  	justify-content: center;
}
.temporadas {
  	position: absolute;
  	height: 17.06%;
  	width: 7.3%;
  	top: 31.18%;
  	left: 4.78%;
  	line-height: 101px;
  	display: flex;
  	font-weight: 800;
  	align-items: center;
}
.text-info-peli {
  	position: absolute;
  	height: 38.82%;
  	width: 80.68%;
  	top: 47.65%;
  	right: 18.06%;
  	bottom: 13.53%;
  	left: 1.26%;
}
.lorem-ipsum-dolor {
  	position: absolute;
  	height: 93.94%;
  	width: 57.04%;
  	top: 6.06%;
  	left: 0%;
  	line-height: 17px;
  	display: flex;
  	font-weight: 800;
  	white-space: pre-wrap;
  	align-items: center;
}
.text-info-peli-child {
  	position: absolute;
  	height: 95.45%;
  	width: 0.16%;
  	top: -0.76%;
  	right: 40.7%;
  	bottom: 5.3%;
  	left: 59.14%;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
}
.elenco-wilona {
  	position: absolute;
  	height: 87.88%;
  	width: 38.6%;
  	top: 6.06%;
  	left: 61.4%;
  	line-height: 17px;
  	display: flex;
  	font-weight: 800;
  	align-items: center;
}
.desktopmoreinfo {
  	position: absolute;
  	top: 543.62px;
  	left: 79px;
  	width: 2142.5px;
  	height: 345px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
  	font-size: 30px;
  	font-family: Arimo;
}
.heading-2 {
  	align-self: stretch;
  	height: 36px;
  	position: relative;
}
.ms-info {
  	position: absolute;
  	top: -3.1px;
  	left: 0px;
  	line-height: 36px;
}
.container4 {
  	align-self: stretch;
  	height: 285px;
  	position: relative;
  	font-size: 14px;
  	color: #b3b3b3;
}
.container5 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	background-color: rgba(52, 54, 54, 0.7);
  	border: 1.1px solid #4a4a4a;
  	box-sizing: border-box;
  	width: 698.2px;
  	height: 285px;
}
.heading-3 {
  	position: absolute;
  	top: 25.05px;
  	left: 25.05px;
  	width: 648.1px;
  	height: 20px;
}
.gneros {
  	position: absolute;
  	top: -0.95px;
  	left: 0px;
  	line-height: 20px;
}
.paragraph {
  	position: absolute;
  	top: 57.03px;
  	left: 25.05px;
  	width: 648.1px;
  	height: 22.7px;
  	color: #fff;
}
.series-dramticas-series {
  	position: absolute;
  	top: -0.9px;
  	left: 0px;
  	line-height: 22.75px;
}
.container6 {
  	position: absolute;
  	top: 103.78px;
  	left: 25.05px;
  	width: 648.1px;
  	height: 77.5px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 12px;
}
.heading-4 {
  	align-self: stretch;
  	height: 20px;
  	position: relative;
}
.page-pelicula-no-disponible-paragraph {
  	align-self: stretch;
  	height: 45.5px;
  	position: relative;
  	color: #fff;
}
.inquietante-nostlgica-banda {
  	position: absolute;
  	top: -0.9px;
  	left: 0px;
  	line-height: 22.75px;
  	display: inline-block;
  	width: 630px;
}
.container7 {
  	position: absolute;
  	top: 205.26px;
  	left: 25.05px;
  	width: 648.1px;
  	height: 54.7px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 12px;
}
.paragraph2 {
  	align-self: stretch;
  	height: 22.7px;
  	position: relative;
  	color: #fff;
}
.container8 {
  	position: absolute;
  	top: 0px;
  	left: 722.16px;
  	border-radius: 10px;
  	background-color: rgba(52, 54, 54, 0.7);
  	border: 1.1px solid #4a4a4a;
  	box-sizing: border-box;
  	width: 698.2px;
  	height: 285px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 25px 25px 1.1px;
  	gap: 12px;
}
.container9 {
  	align-self: stretch;
  	height: 54.7px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 12px;
}
.container10 {
  	position: absolute;
  	top: 0px;
  	left: 1444.34px;
  	border-radius: 10px;
  	background-color: rgba(52, 54, 54, 0.7);
  	border: 1.1px solid #4a4a4a;
  	box-sizing: border-box;
  	width: 698.2px;
  	height: 285px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 25px 25px 1.1px;
  	gap: 12px;
}
.winona-ryder-david {
  	position: absolute;
  	top: -0.9px;
  	left: 0px;
  	line-height: 22.75px;
  	display: inline-block;
  	width: 636px;
}
.traileres {
  	position: absolute;
  	top: 178.62px;
  	left: calc(50% - 769.5px);
  	width: 1540px;
  	height: 325px;
  	font-size: 20px;
}
.trileres {
  	position: absolute;
  	height: 10.46%;
  	width: 16.3%;
  	top: 0%;
  	left: 0%;
  	font-size: 40px;
  	line-height: 101px;
  	display: flex;
  	font-weight: 800;
  	align-items: center;
}
.trailer-one {
  	position: absolute;
  	height: 84.92%;
  	width: 29.29%;
  	top: 15.08%;
  	right: 70.71%;
  	bottom: 0%;
  	left: 0%;
}
.trailer-one-child {
  	position: absolute;
  	height: 91.67%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 8.33%;
  	left: 0%;
  	border-radius: 12px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.triler-name-serie-container {
  	position: absolute;
  	height: 5.8%;
  	width: 64.52%;
  	top: 94.2%;
  	left: 0%;
  	display: flex;
  	align-items: center;
}
.page-pelicula-no-disponible-triler-name-serie-container {
  	width: 100%;
}
.tr {
  	letter-spacing: 0.05em;
}
.trailer-2 {
  	position: absolute;
  	height: 84.92%;
  	width: 29.29%;
  	top: 15.08%;
  	right: 34.81%;
  	bottom: 0%;
  	left: 35.91%;
}
.name-serie {
  	position: absolute;
  	height: 5.8%;
  	width: 64.52%;
  	top: 94.2%;
  	left: 0%;
  	letter-spacing: 0.05em;
  	display: flex;
  	align-items: center;
}
.trailer-3 {
  	position: absolute;
  	height: 84.92%;
  	width: 29.29%;
  	top: 15.08%;
  	right: -1.1%;
  	bottom: 0%;
  	left: 71.82%;
}
.header {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(180deg, #000, rgba(0, 0, 0, 0));
  	width: 2302.5px;
  	height: 68px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 16px 64px 0px;
  	box-sizing: border-box;
}
.container11 {
  	width: 114px;
  	height: 36px;
  	margin: 0 !important;
  	position: absolute;
  	top: calc(50% - 18px);
  	right: 147.98px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	z-index: 0;
}
.container12 {
  	height: 20px;
  	width: 108px;
  	display: flex;
  	align-items: center;
  	gap: 24px;
}
.button-icon {
  	height: 20px;
  	width: 20px;
}
.rewindcodefilm {
  	position: absolute;
  	top: 57px;
  	left: 200px;
  	font-size: 64px;
  	line-height: 27px;
  	font-family: 'Baloo Thambi';
  	color: #e50914;
}
.info-alquilar {
  	position: absolute;
  	top: 379px;
  	left: 151px;
  	width: 557px;
  	height: 481px;
  	font-size: 72px;
  	font-family: Arimo;
}
.heading-1 {
  	position: absolute;
  	height: 20.58%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 79.42%;
  	left: 0%;
}
.frankenstein {
  	position: absolute;
  	height: 100%;
  	width: calc(100% + 212px);
  	top: 0px;
  	left: 14px;
  	line-height: 72px;
  	display: inline-block;
}
.container13 {
  	position: absolute;
  	top: 76px;
  	left: 14px;
  	width: 2142.5px;
  	height: 23.4px;
  	font-size: 14px;
}
.text {
  	position: absolute;
  	top: 1.69px;
  	left: 0px;
  	width: 126px;
  	height: 20px;
  	color: #46d369;
}
.page-pelicula-no-disponible-text {
  	position: absolute;
  	top: 1.69px;
  	left: 142.02px;
  	width: 30.2px;
  	height: 20px;
}
.badge {
  	position: absolute;
  	top: 0px;
  	left: 188.19px;
  	border-radius: 8px;
  	border: 1.1px solid #808080;
  	box-sizing: border-box;
  	width: 39.6px;
  	height: 23.4px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 2px 8px;
  	font-size: 13px;
}
.page-pelicula-no-disponible-div {
  	position: relative;
  	line-height: 17.33px;
}
.text2 {
  	position: absolute;
  	top: 1.69px;
  	left: 243.78px;
  	width: 57.7px;
  	height: 20px;
}
.page-pelicula-no-disponible-badge {
  	position: absolute;
  	top: 0px;
  	left: 317.51px;
  	border-radius: 8px;
  	border: 1.1px solid #808080;
  	box-sizing: border-box;
  	width: 88.4px;
  	height: 23.4px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 2px 8px;
  	font-size: 13px;
}
.container14 {
  	position: absolute;
  	bottom: 0px;
  	left: 14px;
  	width: 320px;
  	height: 372px;
  	font-size: 16px;
}
.container15 {
  	position: absolute;
  	top: 85.05px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: rgba(255, 255, 255, 0.15);
  	border: 1.1px solid rgba(255, 255, 255, 0.2);
  	box-sizing: border-box;
  	width: 320px;
  	height: 105.1px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 13.9px 13.9px 1.1px;
  	gap: 16px;
}
.container16 {
  	align-self: stretch;
  	height: 24px;
  	display: flex;
  	align-items: center;
  	gap: 8px;
}
.container17 {
  	height: 16px;
  	width: 16px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.icon {
  	align-self: stretch;
  	height: 16px;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: cover;
}
.container18 {
  	height: 24px;
  	width: 51.3px;
  	position: relative;
}
.paragraph6 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 8.6px;
  	height: 24px;
}
.div2 {
  	position: absolute;
  	top: -1.95px;
  	left: 0px;
  	line-height: 24px;
}
.paragraph7 {
  	position: absolute;
  	top: 4.2px;
  	left: 16.63px;
  	width: 34.7px;
  	height: 17.3px;
  	display: flex;
  	align-items: flex-start;
  	font-size: 13px;
  	color: rgba(255, 255, 255, 0.6);
}
.container19 {
  	align-self: stretch;
  	height: 37.3px;
  	display: flex;
  	align-items: flex-start;
  	gap: 8px;
  	font-size: 13px;
  	color: rgba(255, 255, 255, 0.6);
}
.container21 {
  	height: 37.3px;
  	width: 157.7px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.paragraph8 {
  	align-self: stretch;
  	height: 17.3px;
  	display: flex;
  	align-items: flex-start;
}
.disponible-aprox {
  	flex: 1;
  	position: relative;
  	line-height: 17.33px;
}
.paragraph9 {
  	align-self: stretch;
  	height: 20px;
  	position: relative;
  	font-size: 14px;
  	color: #fff;
}
.container22 {
  	position: absolute;
  	top: 206.1px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: rgba(94, 94, 94, 0.35);
  	width: 320px;
  	height: 104px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 20px 20px 0px;
  	box-sizing: border-box;
  	gap: 8px;
  	font-size: 30px;
}
.text3 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 87.4px;
  	height: 36px;
}
.text4 {
  	position: absolute;
  	top: 14.71px;
  	left: 95.36px;
  	width: 26.9px;
  	height: 20px;
  	font-size: 14px;
  	color: #99a1af;
}
.paragraph10 {
  	align-self: stretch;
  	height: 20px;
  	position: relative;
  	font-size: 14px;
  	color: #99a1af;
}
.button {
  	position: absolute;
  	top: 326.04px;
  	left: 0px;
  	border-radius: 14px;
  	background-color: #d08700;
  	width: 320px;
  	height: 46px;
  	display: flex;
  	align-items: center;
  	padding: 0px 0px 0px 12px;
  	box-sizing: border-box;
  	gap: 12px;
  	font-size: 14px;
  	color: #000;
}
.text5 {
  	height: 20px;
  	width: 108.1px;
  	position: relative;
}
.aadirme-a-la {
  	position: absolute;
  	top: 0.1px;
  	left: 0px;
  	line-height: 20px;
}
.container25 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: rgba(255, 255, 255, 0.15);
  	border: 1.1px solid rgba(255, 255, 255, 0.2);
  	box-sizing: border-box;
  	width: 320px;
  	height: 69.1px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 13.9px 13.9px 1.1px;
  	font-size: 13px;
  	color: rgba(255, 255, 255, 0.6);
}
.container26 {
  	align-self: stretch;
  	height: 41.3px;
  	display: flex;
  	align-items: center;
  	gap: 8px;
}
.container27 {
  	height: 41.3px;
  	flex: 1;
  	display: flex;
  	align-items: center;
  	gap: 8px;
}
.icon3 {
  	align-self: stretch;
  	height: 16px;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	flex-shrink: 0;
}
.container29 {
  	height: 41.3px;
  	width: 66.6px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.paragraph12 {
  	align-self: stretch;
  	height: 24px;
  	position: relative;
  	font-size: 16px;
  	color: #fff;
}
.container30 {
  	height: 32px;
  	width: 1px;
  	position: relative;
  	background-color: rgba(255, 255, 255, 0.2);
}
.container33 {
  	height: 41.3px;
  	width: 67.4px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.barra-nav-en-peliculas {
  	position: absolute;
  	top: 57px;
  	left: calc(50% - 257.5px);
  	width: 515px;
  	height: 45px;
  	text-align: center;
}
.barra-nav-en-peliculas-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 22.5px;
  	background-color: rgba(7, 9, 9, 0.76);
}
.page-pelicula-no-disponible-traileres {
  	position: absolute;
  	height: 60%;
  	width: 14.76%;
  	top: 20%;
  	left: 4.66%;
  	line-height: 27px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.episodios {
  	position: absolute;
  	height: 60%;
  	width: 14.76%;
  	top: 20%;
  	left: 23.69%;
  	line-height: 27px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.mas-contenido-para {
  	position: absolute;
  	height: 60%;
  	width: 31.46%;
  	top: 20%;
  	left: 44.08%;
  	line-height: 27px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.informacion {
  	position: absolute;
  	height: 60%;
  	width: 17.86%;
  	top: 20%;
  	left: 79.81%;
  	line-height: 27px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

