.barra-nav-en-peliculas {
    position: fixed;
    top: 36px;
    left: 862px;
    z-index: 1000;
    width: 515px;
    height: 45px;
    text-align: center;
}

.barra-nav-en-peliculas-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 22.5px;
    background-color: rgba(7, 9, 9, 0.76);
}

.nav-item {
    position: absolute;
    height: 60%;
    top: 20%;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
}

.traileres { width: 14.76%; left: 4.66%; }
.episodios { width: 14.76%; left: 23.69%; }
.mas-contenido-para { width: 31.46%; left: 44.08%; }
.planes { width: 17.86%; left: 79.81%; }