body {
    margin: 0;
    line-height: normal;
}

.desktop {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #141414;
    overflow-y: hidden;
    text-align: left;
    font-size: 14px;
    overflow-x: hidden;
    color: #fff;
    font-family: Arimo;
}

.admin-movie-panel-activity {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 2358px;
    height: 100vh;
}

.app {
    position: absolute;
    width: 100%;
    right: -1px;
    bottom: 0;
    left: 0;
    background-color: #141414;
    height: 100vh;
}

.sidebarinset {
    position: absolute;
    height: calc(100% - 3px);
    top: 3px;
    right: 0;
    bottom: 0;
    background-color: #141414;
    width: 2103px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 256px;
    height: 1353px;
}

.card,
.card2,
.card3,
.card4 {
    position: absolute;
    top: 0.01px;
    border-radius: 14px;
    background-color: #141414;
    border: 1.1px solid #2f2f2f;
    box-sizing: border-box;
    width: 473px;
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0 0 24px;
}

.card2 {
    left: 493px;
}

.card3 {
    left: 986px;
}

.card4 {
    left: 1477px;
}

.heading-3,
.heading-32 {
    font-size: 16px;
    top:120px;
    left: 7px;
    color: #fff;
    position: absolute;
}

.heading-3,
.heading-32 {
    height: 24px;
}

.heading-3 {
    height: calc(100% - 81.3px);
    width: calc(100% - 5px);
    top: 27.88px;
    right: 5.11px;
    bottom: 53.42px;
    left: -0.11px;
}

.heading-32 {
    top: 27.98px;
    left: 0;
    width: 434.3px;
}

.heading-33 {
    align-self: stretch;
    height: 24px;
    position: relative;
}

.paragraph2,
.paragraph4 {
    height: 18.7px;
    overflow: hidden;
    top:145px;
    left: 7px;
    display: flex;
    align-items: flex-start;
    color: #6a7282;
    position: absolute;
}

.paragraph2 {
    height: calc(100% - 86.3px);
    top: 55.88px;
    bottom: 30.42px;
    left: -0.11px;
    width: 101px;
    color: #6a7282;
}

.paragraph4 {
    top: 55.97px;
    left: 0;
    width: 434.3px;
}

.container6,
.container8,
.container11 {
    position: absolute;
    top: 82.62px;
    left: 0;
    border-radius: 4px;
    background-color: rgba(0, 201, 80, 0.1);
    height: 22.7px;
    color: #00c950;
}

.container6 {
    width: 73.1px;
}

.container8 {
    width: 54.1px;
}

.container11 {
    width: 65.6px;
}

.container-icon {
    height: 48px;
    width: 48px;
    border-radius: 10px;
    left: 355px;
    position: absolute;
    max-height: 100%;
    top: 19.9px;
    z-index: 1;
}

.app2 {
    width: 100%;
    height: 1353px;
    background-color: #141414;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px 0 33px;
    box-sizing: border-box;
    gap: 32px;
}

.app3 {
    width: 100%;
    height: 64px;
    position: relative;
    border-bottom: 1.1px solid #2f2f2f;
    box-sizing: border-box;
}

.button-icon {
    position: absolute;
    top: 17.44px;
    left: 11.99px;
    border-radius: 8px;
    width: 28px;
    height: 28px;
}

.primitivediv {
    position: absolute;
    top: 0;
    left: 47.97px;
    background-color: #2f2f2f;
    width: 1px;
    height: 62.9px;
}

.container {
    position: absolute;
    height: calc(100% - 28px);
    top: 13px;
    bottom: 15px;
    left: 65px;
    width: 450px;
}

.primitivebutton {
    position: absolute;
    top: 0;
    left: 463.97px;
    border-radius: 8px;
    background-color: #2f2f2f;
    border: 1.1px solid #2f2f2f;
    box-sizing: border-box;
    width: 160px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    gap: 20px;
}

.primitivespan {
    height: 20px;
    width: 51.6px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.todos {
    position: relative;
    line-height: 20px;
}

.icon {
    height: 16px;
    width: 16px;
    position: relative;
    opacity: 0.5;
}

.container2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 448px;
    height: 36px;
    color: #6a7282;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    background-color: #2f2f2f;
    border: 1.1px solid #2f2f2f;
    box-sizing: border-box;
    width: 448px;
    height: 36px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 4px 12px 4px 36px;
}

.buscar-pelculas-directores {
    position: relative;
}

.icon2 {
    position: absolute;
    top: 10.01px;
    left: 11.99px;
    width: 16px;
    height: 16px;
}

.container3 {
    position: absolute;
    height: calc(100% - 28px);
    top: 13px;
    right: 60px;
    bottom: 15px;
    width: 203.2px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.button-icon2 {
    height: 36px;
    width: 36px;
    border-radius: 8px;
}

.button {
    height: 36px;
    width: 159.2px;
    position: relative;
    border-radius: 8px;
    background-color: #e50914;
}

.icon3 {
    position: absolute;
    top: 10px;
    left: 11.99px;
    width: 16px;
    height: 16px;
}

.agregar-pelcula {
    position: absolute;
    top: 6px;
    left: 43.94px;
    line-height: 20px;
}

.sidebartrigger {
    position: absolute;
    top: 30.92px;
    left: 25.47px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}

.toggle-sidebar {
    position: relative;
    line-height: 20px;
    flex-shrink: 0;
}

.container4 {
    align-self: stretch;
    height: 155.5px;
    position: relative;
    color: #99a1af;
}

.statscard,
.statscard2,
.statscard3,
.statscard4 {
    display: flex;
    align-items: flex-start;
}

.container5 {
    height: 105.3px;
    flex: 1;
    position: relative;
}

.paragraph {
    position: absolute;
    top: 0;
    left: 0;
    width: 434.3px;
    height: 20px;
    display: flex;
    align-items: flex-start;
}

.total-pelculas {
    flex: 1;
    position: relative;
    line-height: 20px;
}



.div2 {
    position: absolute;
    width: calc(100% + 4.9px);
    top: 1.27px;
    left: 7.89px;
    line-height: 18.67px;
    display: inline-block;
}

.container7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 434.3px;
    height: 105.3px;
}

.div4 {
    position: absolute;
    top: 1px;
    left: 7.98px;
    line-height: 18.67px;
    display: inline-block;
    width: 39px;
}

.container9 {
    height: 117px;
    width: 415px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    z-index: 0;
    flex-shrink: 0;
}

.paragraph5 {
    align-self: stretch;
    height: 20px;
    display: flex;
    align-items: flex-start;
}

.container10 {
    height: 105.3px;
    flex: 1;
    position: relative;
    z-index: 0;
}

.div6 {
    position: absolute;
    width: calc(100% + 4.4px);
    top: 1.31px;
    left: 7.55px;
    line-height: 18.67px;
    display: inline-block;
}

.container12 {
    width: 100%;
    height: 70px;
    overflow-y: auto;
    position: relative;
    font-size: 16px;
}

.container13 {
    position: absolute;
    top: 0;
    left: 0;
    width: 149.9px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.container14 {
   width: 100%;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    font-size: 16px;

}

.heading-2 {
    align-self: stretch;
    width: 186px;
    height: 24px;
    position: relative;
}

.paragraph8 {
    align-self: stretch;
    height: 20px;
    position: relative;
    font-size: 14px;
    color: #99a1af;
}

.pelculas-encontradas {
    position: absolute;
    width: 162px;
    top: -2px;
    left: 0;
    line-height: 20px;
    display: inline-block;
}
