body {
    margin: 0;
    line-height: normal;
}

.desktop {
    width: 100%;
    height: 2816px;
    position: relative;
    background-color: #131313;
    overflow-y: auto;
    text-align: left;
    overflow-x: hidden;
    font-size: 16px;
    color: #fff;
    font-family: 'Sofia Sans';
}

.fondestringer-icon {
    position: absolute;
    width: calc(100% - 11px);
    top: -9px;
    right: 6px;
    left: 5px;
    max-width: 100%;
    overflow: hidden;
    height: 1104px;
    object-fit: cover;
}
.rewindcodefilm {
    position: absolute;
    top: 36px;
    left: 200px;
    font-size: 64px;
    line-height: 27px;
    font-family: 'Baloo Thambi';
    color: #e50914;
}
