body {
margin: 0;
line-height: normal;
}

.desktop {
  	width: 100%;
  	height: 2816px;
  	position: relative;
  	background-color: #131313;
  	overflow-y: auto;
  	text-align: left;
    overflow-x: hidden;
  	font-size: 16px;
  	color: #fff;
  	font-family: 'Sofia Sans';
}
.fondestringer-icon {
  	position: absolute;
  	width: calc(100% - 11px);
  	top: -9px;
  	right: 6px;
  	left: 5px;
  	max-width: 100%;
  	overflow: hidden;
  	height: 1104px;
  	object-fit: cover;
}
.barra-nav-en-peliculas {
  	position: absolute;
  	top: 36px;
  	left: 862px;
  	width: 515px;
  	height: 45px;
  	text-align: center;
}
.barra-nav-en-peliculas-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 22.5px;
  	background-color: rgba(7, 9, 9, 0.76);
}
.traileres {
  	position: absolute;
  	height: 60%;
  	width: 14.76%;
  	top: 20%;
  	left: 4.66%;
  	line-height: 27px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.episodios {
  	position: absolute;
  	height: 60%;
  	width: 14.76%;
  	top: 20%;
  	left: 23.69%;
  	line-height: 27px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.mas-contenido-para {
  	position: absolute;
  	height: 60%;
  	width: 31.46%;
  	top: 20%;
  	left: 44.08%;
  	line-height: 27px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.planes {
  	position: absolute;
  	height: 60%;
  	width: 17.86%;
  	top: 20%;
  	left: 79.81%;
  	line-height: 27px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.rewindcodefilm {
  	position: absolute;
  	top: 36px;
  	left: 200px;
  	font-size: 64px;
  	line-height: 27px;
  	font-family: 'Baloo Thambi';
  	color: #e50914;
}
.info-pelicula {
  	position: absolute;
  	top: 1194px;
  	left: calc(50% - 753px);
  	width: 1506px;
  	height: 170px;
}
.tags-de-peliculas {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
}
.contenedor-div {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 17px;
  	background-color: rgba(38, 39, 39, 0.83);
}
.i {
  	position: absolute;
  	height: 17.06%;
  	width: 3.05%;
  	top: 31.18%;
  	left: 1.46%;
  	line-height: 101px;
  	display: flex;
  	font-weight: 800;
  	white-space: pre-wrap;
  	align-items: center;
}
.name-peli {
  	position: absolute;
  	height: 20%;
  	width: 16.67%;
  	top: 7.65%;
  	left: 1.46%;
  	font-size: 40px;
  	line-height: 101px;
  	display: flex;
  	font-weight: 800;
  	align-items: center;
}
.i2 {
  	position: absolute;
  	height: 17.06%;
  	width: 2.66%;
  	top: 31.18%;
  	left: 12.08%;
  	line-height: 101px;
  	display: flex;
  	font-weight: 800;
  	text-align: center;
  	align-items: center;
  	justify-content: center;
}
.sci-fi {
  	position: absolute;
  	height: 17.06%;
  	width: 2.66%;
  	top: 31.18%;
  	left: 15.47%;
  	line-height: 101px;
  	display: flex;
  	font-weight: 800;
  	text-align: center;
  	align-items: center;
  	justify-content: center;
}
.temporadas {
  	position: absolute;
  	height: 17.06%;
  	width: 7.3%;
  	top: 31.18%;
  	left: 4.78%;
  	line-height: 101px;
  	display: flex;
  	font-weight: 800;
  	align-items: center;
}
.text-info-peli {
  	position: absolute;
  	height: 38.82%;
  	width: 80.68%;
  	top: 47.65%;
  	right: 18.06%;
  	bottom: 13.53%;
  	left: 1.26%;
}
.lorem-ipsum-dolor {
  	position: absolute;
  	height: 93.94%;
  	width: 57.04%;
  	top: 6.06%;
  	left: 0%;
  	line-height: 17px;
  	display: flex;
  	font-weight: 800;
  	white-space: pre-wrap;
  	align-items: center;
}
.text-info-peli-child {
  	position: absolute;
  	height: 95.45%;
  	width: 0.16%;
  	top: -0.76%;
  	right: 40.7%;
  	bottom: 5.3%;
  	left: 59.14%;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
}
.elenco-wilona {
  	position: absolute;
  	height: 87.88%;
  	width: 38.6%;
  	top: 6.06%;
  	left: 61.4%;
  	line-height: 17px;
  	display: flex;
  	font-weight: 800;
  	align-items: center;
}
.mas-info-div {
  	position: absolute;
  	top: 2315px;
  	left: calc(50% - 779px);
  	width: 1558px;
  	height: 343px;
  	font-size: 15px;
}
.ms-info {
  	position: absolute;
  	height: 9.91%;
  	width: 11.04%;
  	top: 0%;
  	left: 0%;
  	font-size: 40px;
  	line-height: 101px;
  	display: flex;
  	font-weight: 800;
  	align-items: center;
}
.div-audio-subtitulos {
  	position: absolute;
  	height: 85.13%;
  	width: 32.73%;
  	top: 14.87%;
  	right: 33.44%;
  	bottom: 0%;
  	left: 33.83%;
}
.div-audio-subtitulos-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 18px;
  	background-color: rgba(61, 64, 65, 0.7);
  	border: 1px solid #fff;
  	box-sizing: border-box;
}
.informacion {
  	position: absolute;
  	height: 43.49%;
  	width: 89.02%;
  	top: 11.64%;
  	right: 4.9%;
  	bottom: 44.86%;
  	left: 6.08%;
}
.audio {
  	position: absolute;
  	height: 51.97%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 48.03%;
  	left: 0%;
}
.audio2 {
  	position: absolute;
  	height: 45.45%;
  	width: 12.56%;
  	top: 0%;
  	left: 0%;
  	display: flex;
  	font-weight: 700;
  	align-items: center;
}
.ingls-audio {
  	position: absolute;
  	height: 69.7%;
  	width: 100%;
  	top: 30.3%;
  	left: 0%;
  	display: flex;
  	font-weight: 300;
  	align-items: center;
}
.subtitulos {
  	position: absolute;
  	height: 48.03%;
  	width: 26.21%;
  	top: 51.97%;
  	right: 73.79%;
  	bottom: 0%;
  	left: 0%;
}
.subttulos {
  	position: absolute;
  	height: 49.18%;
  	width: 100%;
  	top: 0%;
  	left: 0%;
  	display: flex;
  	font-weight: 700;
  	align-items: center;
}
.ingls-y-espaol {
  	position: absolute;
  	height: 75.41%;
  	width: 95.8%;
  	top: 24.59%;
  	left: 0%;
  	display: flex;
  	font-weight: 300;
  	align-items: center;
}
.div-audio-subtitulos2 {
  	position: absolute;
  	height: 85.13%;
  	width: 32.73%;
  	top: 14.87%;
  	right: -0.32%;
  	bottom: 0%;
  	left: 67.59%;
}
.informacion2 {
  	position: absolute;
  	height: 26.71%;
  	width: 89.02%;
  	top: 11.64%;
  	right: 4.9%;
  	bottom: 61.64%;
  	left: 6.08%;
}
.elenco {
  	position: absolute;
  	height: 38.46%;
  	width: 12.56%;
  	top: 0%;
  	left: 0%;
  	display: flex;
  	font-weight: 700;
  	align-items: center;
}
.winona-ryder-david {
  	position: absolute;
  	height: 58.97%;
  	width: 100%;
  	top: 41.03%;
  	left: 0%;
  	display: flex;
  	font-weight: 300;
  	align-items: center;
}
.div-de-mas-info {
  	position: absolute;
  	height: 85.13%;
  	width: 32.73%;
  	top: 14.87%;
  	right: 67.2%;
  	bottom: 0%;
  	left: 0.06%;
}
.informacion3 {
  	position: absolute;
  	height: 83.9%;
  	width: 89.02%;
  	top: 10.27%;
  	right: 6.08%;
  	bottom: 5.82%;
  	left: 4.9%;
}
.generos {
  	position: absolute;
  	height: 28.57%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 71.43%;
  	left: 0%;
}
.gneros {
  	position: absolute;
  	height: 42.86%;
  	width: 12.56%;
  	top: 0%;
  	left: 0%;
  	display: flex;
  	font-weight: 700;
  	align-items: center;
}
.series-dramaticasseries-de {
  	position: absolute;
  	height: 65.71%;
  	width: 100%;
  	top: 34.29%;
  	left: 0%;
  	display: flex;
  	font-weight: 300;
  	align-items: center;
}
.esta-pelicualaseriees {
  	position: absolute;
  	height: 34.69%;
  	width: 100%;
  	top: 33.88%;
  	right: 0%;
  	bottom: 31.43%;
  	left: 0%;
}
.esta-serie-es {
  	position: absolute;
  	height: 35.29%;
  	width: 26.21%;
  	top: 0%;
  	left: 0%;
  	display: flex;
  	font-weight: 700;
  	align-items: center;
}
.inquietantenostalgicobanda-s {
  	position: absolute;
  	height: 54.12%;
  	width: 100%;
  	top: 45.88%;
  	left: 0%;
  	display: flex;
  	font-weight: 300;
  	align-items: center;
}
.acerda-peliculaserie {
  	position: absolute;
  	height: 23.67%;
  	width: 100%;
  	top: 76.33%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
}
.descubre-el-detras {
  	position: absolute;
  	height: 79.31%;
  	width: 100%;
  	top: 20.69%;
  	left: 0%;
  	display: flex;
  	font-weight: 300;
  	align-items: center;
}
.acerca-de-nombre {
  	position: absolute;
  	height: 51.72%;
  	width: 39.87%;
  	top: 0%;
  	left: 0%;
  	display: flex;
  	font-weight: 700;
  	align-items: center;
}
.traileres2 {
  	position: absolute;
  	top: 1425px;
  	left: calc(50% - 770px);
  	width: 1540px;
  	height: 325px;
  	font-size: 20px;
}
.trileres {
  	position: absolute;
  	height: 10.46%;
  	width: 16.3%;
  	top: 0%;
  	left: 0%;
  	font-size: 40px;
  	line-height: 101px;
  	display: flex;
  	font-weight: 800;
  	align-items: center;
}
.trailer-one {
  	position: absolute;
  	height: 84.92%;
  	width: 29.29%;
  	top: 15.08%;
  	right: 70.71%;
  	bottom: 0%;
  	left: 0%;
}
.trailer-one-child {
  	position: absolute;
  	height: 91.67%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 8.33%;
  	left: 0%;
  	border-radius: 12px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.triler-name-serie-container {
  	position: absolute;
  	height: 5.8%;
  	width: 64.52%;
  	top: 94.2%;
  	left: 0%;
  	display: flex;
  	align-items: center;
}
.triler-name-serie-container2 {
  	width: 100%;
}
.tr {
  	letter-spacing: 0.05em;
}
.trailer-2 {
  	position: absolute;
  	height: 84.92%;
  	width: 29.29%;
  	top: 15.08%;
  	right: 34.81%;
  	bottom: 0%;
  	left: 35.91%;
}
.name-serie {
  	position: absolute;
  	height: 5.8%;
  	width: 64.52%;
  	top: 94.2%;
  	left: 0%;
  	letter-spacing: 0.05em;
  	display: flex;
  	align-items: center;
}
.trailer-3 {
  	position: absolute;
  	height: 84.92%;
  	width: 29.29%;
  	top: 15.08%;
  	right: -1.1%;
  	bottom: 0%;
  	left: 71.82%;
}
.episodios2 {
  	position: absolute;
  	top: 1835px;
  	left: calc(50% - 783px);
  	width: 1567px;
  	height: 419px;
}
.episodios3 {
  	position: absolute;
  	top: 3px;
  	left: 4px;
  	font-size: 40px;
  	line-height: 101px;
  	display: flex;
  	font-weight: 800;
  	align-items: center;
  	width: 198.8px;
  	height: 34px;
}
.btn-elegir-temp {
  	position: absolute;
  	height: 9.55%;
  	width: 13.33%;
  	top: 0%;
  	right: 74.22%;
  	bottom: 90.45%;
  	left: 12.44%;
}
.btn-elegir-temp-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 21px;
  	background-color: rgba(23, 26, 27, 0.86);
  	border: 1px solid #fff;
  	box-sizing: border-box;
}
.nombre-de-serie {
  	position: absolute;
  	height: 57.5%;
  	width: 87.22%;
  	top: 22.5%;
  	left: 5.56%;
  	line-height: 101px;
  	display: flex;
  	font-weight: 800;
  	align-items: center;
}
.capitulo-1 {
  	position: absolute;
  	height: 87.83%;
  	top: 12.17%;
  	bottom: 0%;
  	left: 2px;
  	width: 329px;
}
.capitulo-1-child {
  	position: absolute;
  	height: 100%;
  	top: 0%;
  	bottom: 0%;
  	left: 0px;
  	border-radius: 19px;
  	background-color: rgba(47, 48, 48, 0.76);
  	width: 329px;
}
.capitulo-1-item {
  	position: absolute;
  	height: 46.74%;
  	top: 2.99%;
  	bottom: 50.27%;
  	left: 11px;
  	border-radius: 18px;
  	max-height: 100%;
  	width: 308px;
  	object-fit: cover;
}
.info-capitulo {
  	position: absolute;
  	height: 38.86%;
  	top: 54.35%;
  	bottom: 6.79%;
  	left: 21px;
  	width: 295px;
}
.capitulo-uno-la-container {
  	position: absolute;
  	height: 39.16%;
  	top: 0%;
  	left: 0px;
  	letter-spacing: -1px;
  	line-height: 24px;
  	display: flex;
  	font-weight: 800;
  	align-items: center;
  	width: 295px;
}
.capitulo-uno-la-desaparicion {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 21px;
}
.capitulo-uno-la {
  	margin-bottom: 0px;
}
.will-byers {
  	margin: 0;
}
.descripsion-del-capitulo {
  	position: absolute;
  	height: 63.64%;
  	top: 36.36%;
  	left: 4px;
  	letter-spacing: -1px;
  	line-height: 20px;
  	display: flex;
  	font-weight: 800;
  	align-items: center;
  	width: 281px;
}
.capitulo-2 {
  	position: absolute;
  	height: 87.83%;
  	top: 12.17%;
  	bottom: 0%;
  	left: 413px;
  	width: 329px;
}
.descripsion-del-capitulo2 {
  	position: absolute;
  	height: 63.64%;
  	top: 36.36%;
  	left: 0px;
  	letter-spacing: -1px;
  	line-height: 20px;
  	display: flex;
  	font-weight: 800;
  	align-items: center;
  	width: 281px;
}
.capitulo-3 {
  	position: absolute;
  	height: 87.83%;
  	top: 12.17%;
  	bottom: 0%;
  	left: 823px;
  	width: 329px;
}
.capitulo-4 {
  	position: absolute;
  	height: 87.83%;
  	top: 12.17%;
  	bottom: 0%;
  	left: 1231px;
  	width: 329px;
}
.disponible-rentar {
  	position: absolute;
  	top: 379px;
  	left: 151px;
  	width: 557px;
  	height: 298px;
  	font-size: 14px;
  	color: rgba(255, 255, 255, 0.8);
  	font-family: Arimo;
}
.dias-de-alquiler {
  	position: absolute;
  	height: 30.37%;
  	width: 49.37%;
  	top: 38.26%;
  	right: 50.63%;
  	bottom: 31.38%;
  	left: 0%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.paragraph {
  	align-self: stretch;
  	height: 20px;
  	display: flex;
  	align-items: flex-start;
}
.selecciona-el-periodo {
  	flex: 1;
  	position: relative;
  	line-height: 20px;
}
.container {
  	align-self: stretch;
  	height: 86.9px;
  	position: relative;
  	font-size: 13px;
  	color: #fff;
}
.button {
  	position: absolute;
  	height: calc(100% + 0.1px);
  	top: 0.02px;
  	bottom: -0.12px;
  	left: 0px;
  	border-radius: 14px;
  	background-color: rgba(255, 255, 255, 0.15);
  	border: 0.8px solid rgba(255, 255, 255, 0.3);
  	box-sizing: border-box;
  	width: 81px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 4px;
}
.icon {
  	width: 16px;
  	height: 16px;
  	position: relative;
}

.das {
  	position: absolute;
  	top: -1.84px;
  	left: 0px;
  	line-height: 17.33px;
}
.app2 {
  	width: 42px;
  	height: 20px;
  	display: flex;
  	align-items: flex-start;
  	font-size: 14px;
}
.div {
  	position: relative;
  	line-height: 20px;
}
.button2 {
  	position: absolute;
  	height: calc(100% + 0.1px);
  	top: 0.02px;
  	bottom: -0.12px;
  	left: 90px;
  	border-radius: 14px;
  	background-color: rgba(255, 255, 255, 0.15);
  	border: 0.8px solid rgba(255, 255, 255, 0.3);
  	box-sizing: border-box;
  	width: 81px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 4px;
}

.button3 {
  	position: absolute;
  	height: calc(100% + 0.1px);
  	top: 0.02px;
  	bottom: -0.12px;
  	left: 180px;
  	border-radius: 14px;
  	background-color: rgba(255, 255, 255, 0.15);
  	border: 0.8px solid rgba(255, 255, 255, 0.3);
  	box-sizing: border-box;
  	width: 81px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 4px;
}
.app5 {
  	width: 45px;
  	height: 17px;
  	position: relative;
}
.heading-3 {
  	position: absolute;
  	height: 26.14%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 73.86%;
  	left: 0%;
  	font-size: 72px;
  	color: #fff;
}
.stranger-things {
  	position: absolute;
  	height: calc(100% + 0.1px);
  	width: calc(100% + 212px);
  	top: 0px;
  	left: 0px;
  	line-height: 72px;
  	display: inline-block;
}
.container2 {
  	position: absolute;
  	top: 76px;
  	left: 14px;
  	width: 2142.5px;
  	height: 23.4px;
  	font-size: 14px;
}
.text {
  	position: absolute;
  	top: 1.69px;
  	left: 0px;
  	width: 126px;
  	height: 20px;
  	color: #46d369;
}
.de-coincidencia {
  	position: absolute;
  	top: -0.95px;
  	left: 0px;
  	line-height: 20px;
}
.text2 {
  	position: absolute;
  	top: 1.69px;
  	left: 142.02px;
  	width: 30.2px;
  	height: 20px;
}
.badge {
  	position: absolute;
  	top: 0px;
  	left: 188.19px;
  	border-radius: 8px;
  	border: 1.1px solid #808080;
  	box-sizing: border-box;
  	width: 39.6px;
  	height: 23.4px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 2px 8px;
  	font-size: 13px;
}
.text3 {
  	position: absolute;
  	top: 1.69px;
  	left: 243.78px;
  	width: 57.7px;
  	height: 20px;
}
.badge2 {
  	position: absolute;
  	top: 0px;
  	left: 317.51px;
  	border-radius: 8px;
  	border: 1.1px solid #808080;
  	box-sizing: border-box;
  	width: 88.4px;
  	height: 23.4px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 2px 8px;
  	font-size: 13px;
}
.k-ultra-hd {
  	position: relative;
  	line-height: 17.33px;
}
.rentarbtn {
  	position: absolute;
  	height: 13.42%;
  	width: 28.4%;
  	top: 86.58%;
  	right: 71.6%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 14px;
  	background-color: #fff;
  	color: #000;
}
.icon4 {
  	position: absolute;
  	top: 12px;
  	left: 15.99px;
  	width: 16px;
  	height: 16px;
}
.rentar-pelcula {
  	position: absolute;
  	top: 8.01px;
  	left: 47.98px;
  	line-height: 20px;
}
