.tags-de-peliculas {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.info-pelicula {
    position: absolute;
    top: 1194px;
    left: calc(50% - 753px);
    width: 1506px;
    height: 170px;
}

.contenedor-div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 17px;
    background-color: rgba(38, 39, 39, 0.83);
}

.name-peli {
    position: absolute;
    height: 20%;
    width: 35.67%;
    top: 7.65%;
    left: 1.46%;
    font-size: 40px;
    line-height: 101px;
    display: flex;
    font-weight: 800;
    align-items: center;
    margin: 0;
}

.info-pelicula .tags-de-peliculas > span {
    position: absolute;
    height: 17.06%;
    top: 31.18%;
    line-height: 101px;
    display: flex;
    font-weight: 800;
    align-items: center;
}

.i { width: 3.05%; left: 1.46%; white-space: pre-wrap; }
.temporadas { width: 7.3%; left: 4.78%; }
.i2 { width: 2.66%; left: 12.08%; text-align: center; justify-content: center; }
.sci-fi { width: 2.66%; left: 15.47%; text-align: center; justify-content: center; }

.text-info-peli {
    position: absolute;
    height: 38.82%;
    width: 80.68%;
    top: 47.65%;
    right: 18.06%;
    bottom: 13.53%;
    left: 1.26%;
}

.lorem-ipsum-dolor {
    position: absolute;
    height: 93.94%;
    width: 57.04%;
    top: 6.06%;
    left: 0;
    line-height: 17px;
    display: flex;
    font-weight: 800;
    white-space: pre-wrap;
    align-items: center;
    margin: 0;
}

.text-info-peli-child {
    position: absolute;
    height: 95.45%;
    width: 0.16%;
    top: -0.76%;
    right: 40.7%;
    bottom: 5.3%;
    left: 59.14%;
    border-right: 1px solid #fff;
    box-sizing: border-box;
}

.elenco-wilona {
    position: absolute;
    height: 87.88%;
    width: 55%;
    top: 6.06%;
    left: 61.4%;
    line-height: 17px;
    display: flex;
    font-weight: 800;
    align-items: center;
    margin: 0;
}
